<div class="py-12">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

        <div class="bg-yellow-400 p-6 rounded-xl shadow-lg hover:shadow-xl hover:-translate-y-2 transition-all duration-300">
            <h3 class="text-xl font-bold text-gray-900 mb-2">
                Cek NIK
            </h3>
            <p class="text-gray-800">
                Wajib bagi calon murid yang berdomisili di dalam DIY dan memiliki Kartu Keluarga DIY sesuai dengan ketentuan yang berlaku.
            </p>
        </div>

        <div class="bg-yellow-400 p-6 rounded-xl shadow-lg hover:shadow-xl hover:-translate-y-2 transition-all duration-300">
            <h3 class="text-xl font-bold text-gray-900 mb-2">
                Cek Nilai Rapor
            </h3>
            <p class="text-gray-800">
                Khusus bagi calon murid lulusan SMP/MTS sederajat dalam DIY pada tahun 2026.
            </p>
        </div>

        <div class="bg-yellow-400 p-6 rounded-xl shadow-lg hover:shadow-xl hover:-translate-y-2 transition-all duration-300">
            <h3 class="text-xl font-bold text-gray-900 mb-2">
                Cek Status Afirmasi
            </h3>
            <p class="text-gray-800">
                Khusus bagi calon murid yang berasal dari keluarga tidak mampu dan terdaftar dalam program penanganan kesejahteraan sosial.
            </p>
        </div>

    </div>
</div>